{"filter":false,"title":"index.j2","tooltip":"/Assignment/roles/debian_setup/files/index.j2","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":11},"end":{"row":7,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1648443004158,"hash":"aefe617a5853f3d238bdca0e94ea34bdb1925aa8"}